#header h1{font-size:18px}

.ui-tabs{padding:0}

.tabArea1{background:#efeaec}
.tabArea1 ul{display:flex;justify-content:flex-start;padding:0 18px}
.tabArea1 ul li{font-size:12px}
.tabArea1 ul li a{display:block;padding:10px 15px;box-sizing:border-box;height:35px}
.tabArea1 ul li.on a{border-bottom:2px solid #e80023}
.tabArea2{margin-bottom:10px}
.tabArea2 ul{display:flex;justify-content:flex-start;padding:0 18px}
.tabArea2 ul li{font-size:12px;color:#e80023}
.tabArea2 ul li a{display:block;padding:8px 10px 5px;box-sizing:border-box}
.tabArea2 ul li a span{width:12px;height:12px;display:inline-block;box-sizing:border-box;border:1px solid #e80023;vertical-align:top;margin-right:5px;border-radius:50%;margin-top:1px}
.tabArea2 ul li.on a span{box-sizing:content-box;background:#f1536b;border:2px solid #ffffff;width:8px;height:8px;box-shadow:0 0 0 1px #e80023 }

.calendar_day .day_month{display:flex;justify-content:center;border-bottom:1px solid #e80023;padding-bottom:5px}
.calendar_day .day_month .dayMtit{order:1;font-size:18px;color:#e80023;margin:0 5px;width:38px;text-align:center}
.calendar_day .day_month .prevM{text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_p.png) no-repeat center;background-size:7px;margin-top:1px;vertical-align:top}
.calendar_day .day_month .nextM{order:2;text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_n.png) no-repeat center;background-size:7px;margin-top:1px;vertical-align:top}
.day_date{display:flex;justify-content:center;}
.day_date .day_listShow{width:297px;overflow:hidden;order:1;}
.day_date ul{display:flex;width:810px}
.day_date ul li{padding:7px 0;width:27px;font-size:14px;text-align:center;box-sizing:border-box}
.day_date ul li.day_sat a{color:#0e5fcc}
.day_date ul li.day_sun a{color:#ee4a4a}
.day_date ul li.on a{border-bottom:2px solid #e80023;color:#e80023}
.day_date .prevD{text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_p.png) no-repeat center;background-size:7px;margin-top:6px;vertical-align:top}
.day_date .nextD{order:2;text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_n.png) no-repeat center;background-size:7px;margin-top:6px;vertical-align:top}

.today{font-size:18px;font-weight:bold;text-align:center;line-height:145%;margin:20px 0 30px}
.today_list ul li{margin-bottom:10px;padding:5px 0;border-top:1px solid #e80023}
.today_list ul li a{display:flex}
.today_list ul li a .todayImg{margin-right:10px}
.today_list ul li a .todayImg img{width:75px;border:1px solid #efeaec}
.today_list ul li a .todayInfo .tinfoTit{font-size:16px}
.today_list ul li a .todayInfo .tinfoDate{font-size:12px;color:#af9ea3;margin-top:20px}



.calendar_day .month_month{display:flex;justify-content:center;padding-bottom:11px;padding-top:15px}
.calendar_day .month_month .monthListShow{order:1;width:250px;font-size:20px;overflow:hidden;}
.calendar_day .month_month .prevM{text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_p.png) no-repeat center;background-size:7px;margin-top:7px;vertical-align:top}
.calendar_day .month_month .nextM{order:2;text-indent:-9999px;width:18px;height:23px;background:url(../img/icons/icon_arrowr_n.png) no-repeat center;background-size:7px;margin-top:7px;vertical-align:top}
.monthListShow ul{display:flex;width:2000px}
.monthListShow ul li{padding:5px 0;width:50px;text-align:center;box-sizing:border-box}
.monthListShow ul li a{font-weight:normal}
.monthListShow ul li.on a{border-bottom:2px solid #e80023;color:#e80023}


#ticketContents h2{font-size:18px;margin:40px 0 10px;}
.mainBanner{height:130px;background:url(../img/contents/banner1.jpg) no-repeat center;padding:20px 15px 0 0}
.mainBanner p{text-align:right;color:#fff;font-weight:normal;font-size:14px;width:160px;float:right;clear:right}
.mainBanner p.bannerTit{font-size:26px;font-weight:bold;margin-bottom:10px;border-left:3px solid #e80023}

.sacDeal h2 span{font-size:12px; color:#af9ea3}
.sacDeal p.infoTit{border-top:1px solid #e80023;font-weight:bold;font-size:14px;text-align:center;padding:20px 0;color:#e80023}
.sacDeal p.info{font-size:12px;padding-bottom:20px;border-bottom:1px solid #e80023}
.todayEnddeal img{border:1px solid #e2d7da}
.endInfo{margin-left:10px;float:right;width:164px;border-top:1px solid #e80023;padding-top:10px}
.endInfo .endTit{font-size:14px; font-weight:bold;margin-bottom:5px}
.endInfo .endDate,.endInfo .endLoca{font-size:12px; color:#af9ea3;margin-bottom:3px}
.endInfo .endPrice{font-size:14px;border-top:1px solid #e2d7da;margin-top:10px;padding:10px;text-align:center;line-height:30px}
.endInfo .endPrice .prevPrice strong{font-weight:normal;text-decoration:line-through}
.endInfo .endPrice .salePrice{font-size:16px;color:#e80023}
#ticketTab1 .todayEnddeal .endDealBtn{color:#ffffff;background:#e80023}
#ticketTab1 .todayEnddeal .endDealBtn:active{background:#c7001e}


.lastSacDeal{clear:both}
.lastSacDeal h2{display:inline-block}
.lastSacDeal span.moreArrow{margin-top:47px;margin-left:10px}
.lastSacDeal ul{font-size:12px;display:flex;flex-wrap:wrap;justify-content:space-between}
.lastSacDeal ul li{width:164px;margin-bottom:20px}
.lastSacDeal ul li img{border:1px solid #e2d7da}
.lastSacDeal ul li p{margin-top:5px;text-align:center}


.mainBanner2 {height:200px;background:url(../img/contents/banner2.jpg) no-repeat center;padding:20px 0;background-size:cover;color:#fff;text-align:center}
.mainBanner2 p{font-size:14px}
.mainBanner2 .bannerTit{font-size:24px;margin:10px 0 20px}
.mainBanner2 a{color:#fff;display:block;width:150px;padding:10px;border:1px solid #fff;margin:20px auto 0}
.mainBanner2 a:active{background:rgba(0,0,0,.3);color:#fff}
.mainBanner2 a:focus{color:#fff}
.mainBanner2 a:visited{color:#fff}
.saleTicket{margin-bottom:30px}
.saleTicket img{border:1px solid #e2d7da}
.saleInfo{margin-left:10px;float:right;width:164px;border-top:1px solid #e80023;padding-top:10px}
.saleInfo .saleTit{font-size:14px; font-weight:bold;margin-bottom:5px}
.saleInfo .saleDate,.saleInfo .saleLoca{font-size:12px; color:#af9ea3;margin-bottom:3px}
.saleInfo .saleLoca{margin-bottom:70px}
#ticketTab2 .saleTicket .saleTicketBtn{color:#ffffff;background:#e80023;}
#ticketTab2 .saleTicket .saleTicketBtn:active{background:#c7001e}


.openTicket{margin-bottom:50px}
.openTicket img{border:1px solid #e2d7da}
.openInfo{margin-left:10px;float:right;width:164px;border-top:1px solid #e80023;padding-top:10px}
.openInfo .openTit{font-size:14px; font-weight:bold;margin-bottom:5px}
.openInfo .openDate{font-size:12px; color:#af9ea3;margin-bottom:3px}
.openInfo .opening{font-size:14px;border-top:1px solid #e2d7da;margin-top:10px;padding:35px 0 10px ;text-align:center;line-height:20px;background:url(../img/icons/icon_date.png) no-repeat center 15px;background-size:16px}
.openInfo .opening p{margin-top:10px}
.openInfo .opening p span{display:block;color:#e80023}
.openInfo .opening p span:last-child{font-weight:bold;color:#333}

h2{font-size:18px;margin:20px 0 10px}
#locateTab1 img{width:100%}
.locations{margin:20px 0}
.locations li{margin-bottom:1px;background:#e80023}
.locations li a{display:block;padding:10px;color:#ffffff;background:url(../img/icons/icon_arrow_wh.png) no-repeat 95% center;background-size:7px}
.locations li:active a,.locations li:hover a,.locations li:visited a{color:#ffffff}
.locations li:active{background:#c7001e}


#locateTab2{margin-bottom:40px}
#locateTab2 p{color:#8c7c81;font-size:14px}
#locateTab2 p.locaTit{color:#333;font-weight:bold;margin:30px 0 10px;}
#locateTab2 p.last{margin-bottom:30px}
#locateTab2 a{display:block;width:200px;padding:10px;border:1px solid #e80023;color:#e80023;margin:0 auto;font-size:12px;text-align:center; margin-bottom:10px;}
#locateTab2 a:active,#locateTab2 a:focus{background:#e80023;color:#fff}


h3{font-size:18px;color:#e80023;margin-bottom:10px;margin-top:30px}
.notice{margin-bottom:20px}
ul.noticeList{border-top:1px solid #e80023}
ul.noticeList>li{padding:10px 0;border-bottom:1px solid #e80023}
ul.noticeList>li>p{width:77px;margin-right:10px;font-size:18px;color:#e80023;text-align:center}
ul.noticeList>li>ul{width:251px}
ul.noticeList>li>ul li{border-top:1px solid #e2d7da;padding:10px 0}
ul.noticeList>li>ul li.first{border-top:0;padding-top:0}
ul.noticeList>li>ul li a p.noticeTit{font-size:14px}
ul.noticeList>li>ul li a p.noticeDate{font-size:12px;font-weight:normal;color:#af9ea3}


.collapses{border-top:1px solid #e80023;margin-bottom:50px}
.collapses .ui-btn.ui-btn-b:hover{background:ffffff;box-shadow:0 0 0 0!important;}
.collapses .ui-btn.ui-btn-b:active{background:#ffffff;box-shadow:0 0 0 0!important;}
.collapses .ui-btn.ui-btn-b:focus{background:#ffffff;box-shadow:0 0 0 0!important;}
html head + body .theme_b.ui-btn.ui-btn-b:focus{box-shadow:0 0 0 0!important}
.ui-icon-plus:after{background:url(../img/icons/icon_plus.png) no-repeat center;background-size:18px;}
.ui-icon-minus:after{background:url(../img/icons/icon_minus.png) no-repeat center;background-size:18px;}
.collapses h3{font-size:16px;font-weight:bold;border-bottom:1px solid #efeaec}
.collapses h3 span{font-size:12px; color:#af9ea3}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content{border:0}
.collapses ul li{font-size:14px;line-height:135%;background:url(../img/icons/icon_listPoint.png) no-repeat 5px center;background-size:2px;padding-left:15px;margin-bottom:3px}
.collapses p{font-size:14px;line-height:135%;margin-bottom:3px}
.collapses dl dt{font-size:14px;line-height:135%;margin-bottom:3px;font-weight:bold;margin-top:10px}
.collapses dl dd{font-size:14px;line-height:135%;margin-bottom:3px}
.moreBtn{background-color:#8c7c81!important;color:#ffffff!important}
.regBtn{background-color:#e80023!important;color:#fff!important}







