@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');


*{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;word-break:keep-all;text-shadow:none!important;touch-action:pan-y}
html{width:100%;height:100%}
body{width:100%;font-family: 'Nanum Gothic', sans-serif;color:#333;background:#f7f8fd;}
ul, li{list-style:none;}
a{text-decoration:none;color:inherit}
img{border:0;font-size:0;vertical-align:top}
.cf:after{content:"";display:block;clear:both}
.fl{float:left}



#wrap{padding-bottom:98px;position:relative;box-sizing:border-box;overflow:hidden}
#gnbTop{padding-bottom:15px;border-bottom:1px solid #e80023}
#gnbTop div a{display:inline-block;width:24px;height:24px;text-align:center;vertical-align:middle}
#gnbTop .gnbSetting{float:right;width:70px}
#gnbTop .gnbSetting a{width:28px}
#gnbTop .gnbSetting a:first-child{padding-top:5px;height:19px;margin-right:5px}
#gnbMy{padding:20px 8px}
#gnbMy .myImg{border-radius:50%;width:40px;height:40px;background:url(../img/profile.jpg) no-repeat center;margin-right:12px}
#gnbMy .myInfo img{margin-top:1px}
#gnbMy .myInfo strong{display:inline-block;margin-right:5px}
#gnbMy .myInfo .myName span.link{display:inline-block;width:12px;height:10px;background:url(../img/icons/icon_arrowg_2.png) no-repeat center 0;background-size:12px;vertical-align:top;margin-top:5px}
#gnbMy .myService{font-size:12px;color:#af9ea3;vertical-align:top;margin-top:5px}
#gnbMy .myService .myTicket{width:97px}
#gnbMy .myService .myTicket span{width:16px;height:16px;display:inline-block;background:url(../img/icons/icon_ticket.png) no-repeat center center;background-size:16px 16px;margin-right:3px;vertical-align:bottom}
#gnbMy .myService .myMembership{border-left:1px solid #af9ea3;padding-left:6px;margin-left:5px;height:13px;margin-top:2px;width:60px}
#gnbMy .myService .myMembership span{width:16px;height:16px;display:inline-block;background:url(../img/icons/icon_star.png) no-repeat center center;background-size:14px 14px;margin-right:5px;vertical-align:top;margin-top:-1px}

#gnbMenu ul{display:flex;justify-content:space-between;flex-wrap:wrap;}
#gnbMenu ul li{background:#e80023;width:119px;margin-bottom:2px;text-align:center}
#gnbMenu ul li a{color:#ffffff;font-size:14px;font-weight:normal;display:block;padding:50px 0 10px;background:url(../img/icons/icon_menu1.png) no-repeat center 12px;background-size:31px;}
#gnbMenu ul li:nth-child(2) a{background:url(../img/icons/icon_menu2.png) no-repeat center 16px;background-size:42px}
#gnbMenu ul li:nth-child(3) a{background:url(../img/icons/icon_menu3.png) no-repeat center 10px;background-size:31px}
#gnbMenu ul li:nth-child(4) a{background:url(../img/icons/icon_menu4.png) no-repeat center 10px;background-size:34px}
#gnbSubmenu{margin-top:20px}
#gnbSubmenu ul li{border-top:1px solid #e2d7da;background:url(../img/icons/icon_arrowg_1.png) no-repeat 215px center;background-size:7px}
#gnbSubmenu ul li a{display:block;padding:15px;color:#af9ea3;font-size:12px;font-weight:normal}
#gnbSubmenu ul li:last-child{border-bottom:1px solid #e2d7da}
#gnbLogout{padding:20px;text-align:center;font-size:10px;margin-top:60px}
#gnbLogout a{color:#af9ea3;}
#gnbLogout a span{display:inline-block;width:11px;height:13px;background:url(../img/icons/icon_logout.png) no-repeat center center;vertical-align:top;margin-right:3px;background-size:11px}

#header{border-top:0!important}
#header a{display:block;width:50px;height:32px;text-align:center;padding-top:12px}
.ui-btn-left, .ui-btn-right{top:0}
.ui-header .ui-title{padding:10px 0!important}
.ui-footer{position:absolute;bottom:0;width:100%;border:none}
.ui-content{padding:0}
.ui-content>div{margin:0}
.ui-content .wm{margin:0 11px}
.ui-panel{top:44px}
.ui-panel-display-overlay{-webkit-box-shadow:0 0 0;box-shadow:0 0 0}
.ui-content .menuBg{position:absolute;background:rgba(0,0,0,.5);top:44px;left:0;width:100%;height:100%;z-index:99;display:none;}
.ui-page-theme-a .ui-btn:focus{box-shadow:0 0 0}
.ui-page-theme-a a{color:#333}
.ui-page-theme-a a:active{color:#e80023}
.ui-page-theme-a a:hover{color:#333}
.ui-page-theme-a a:visited{color:#333}
.ui-page-theme-a a:focus{color:#e80023}

#slide{height:400px;width:100%;overflow:hidden;box-sizing:border-box;position:relative;overflow:hidden;touch-action: pan-y}
#slide .slidebg{width:120%;height:140%;background:url(../img/contents/slide1.jpg) no-repeat center;background-size:120%;margin:-30% 0 0 -10%;filter:blur(10px);float:left;transition:all .5s}
#slide .slideList{width:2000px;position:relative;left:-82px;top:40px;height:360px}
#slide .slideList li{margin-right:30px;position:absolute;top:0;left:558px}
#slide .slideList li:first-child{left:186px}
#slide .slideList li:nth-child(2){left:372px}
#slide .slideList li:last-child{left:0}
#slide .slideList li a{display:block;width:156px;text-align:center}
#slide .slideList li a p{text-align:center;font-size:10px;color:#fff;margin-top:5px}
#slide .slideList li a p.slide_ment{font-size:10px;color:#e80023;letter-spacing:-1px}
#slide .slideList li a p.slide_tit{font-size:14px;font-weight:bold;height:36px;letter-spacing:-1px}
#slide .slideBar{display:flex;justify-content:center;position:absolute;bottom:30px;width:100%}
#slide .slideBar li{width:10px;margin-left:5px}
#slide .slideBar li:first-child{margin-left:0}
#slide .slideBar li a span{display:block;width:10px;height:2px;background:#fff}
#slide .slideBar li.on a span{background:#e80023}

#ranking{margin-top:40px}
#ranking h2{font-size:18px;margin-right:5px}
#ranking .rankingCt{clear:right;height:20px;line-height:23px}
#ranking .rankingCt span.rankingBar{display:inline-block;width:10px;height:2px;background:#e80023;margin-bottom:5px}
#ranking .rankingCt span.rankingImg{display:inline-block;color:#e80023;margin-left:5px;padding-right:30px;background:url(../img/icons/icon_titarrow.png) no-repeat 35px 6px;font-weight:bold;font-size:14px;background-size:12px}
#ranking .ranking_swipe{width:1020px;clear:both;touch-action: pan-y;position:relative}
#ranking .ranking_swipe ul{margin:20px 20px 0 0;width:300px}
#ranking .ranking_swipe ul.ranking3{box-sizing:border-box;width:338px}
#ranking .ranking_swipe ul li{margin-bottom:10px;display:grid; grid-template-columns:72px 1fr}
#ranking .ranking_swipe ul li .rankingImg{overflow:hidden;width:62px;height:78px;border:1px solid #e2d7da}
#ranking .ranking_swipe ul li .rankingInfo .ranking_rank{font-size:18px;font-weight:bold;color:#e80023}
#ranking .ranking_swipe ul li .rankingInfo .ranking_rank span{font-size:12px;font-weight:normal;color:#ff5c26;display:inline-block;margin-left:10px;height:18px;line-height:18px;margin-bottom:2px}
#ranking .ranking_swipe ul li .rankingInfo .ranking_rank .rankup{padding-left:10px;background:url(../img/icons/icon_rankup.png) no-repeat 0 center;color:#ec461a}
#ranking .ranking_swipe ul li .rankingInfo .ranking_rank .rankdn{padding-left:10px;background:url(../img/icons/icon_rankdn.png) no-repeat 0 center;color:#1c4eea}
#ranking .ranking_swipe ul li .rankingInfo .ranking_rank .ranksame{background:url(../img/icons/icon_ranksame.png) no-repeat 0 center;width:6px;height:12px;margin-bottom:0}
#ranking .ranking_swipe ul li .rankingInfo .ranking_tit {font-size:14px;font-weight:bold;margin-bottom:5px}
#ranking .ranking_swipe ul li .rankingInfo .ranking_date {font-size:12px;color:#af9ea3}

#event{margin-top:40px}
#event .eventFade{position:relative}
#event .eventFade li{position:absolute;top:0;left:0}
#event .eventFade li:last-child{display:none}

#ticketOpen{margin-top:195px}
#ticketOpen h2{font-size:18px;margin-right:5px;margin-bottom:20px;display:inline-block;}
span.moreArrow{display:inline-block;width:12px;height:12px;background:url(../img/icons/icon_titarrow.png) no-repeat 0 0;background-size:12px;vertical-align:top;margin-top:7px}
#ticketOpen .ticketInfo{display:flex;flex​-​direction​:​row;flex-wrap:wrap;justify-content: space-between}
#ticketOpen .ticketInfo li{width:164px;font-size:12px;text-align:center;margin-bottom:15px}
#ticketOpen .ticketImg{width:162px;border:1px solid #e2d7da;margin-bottom:5px;height:236px;overflow:hidden;text-align:center}
#ticketOpen .ticketImg a{display:inline-block}
#ticketOpen .ticketDate{display:inline-block;color:#e80023;border-bottom:1px solid #e80023;padding:5px 10px}
#ticketOpen .ticketDate span{display:inline-block;vertical-align:top;margin-top:1px}
#ticketOpen .ticketDate .dateImg{width:20px;height:16px;background:url(../img/icons/icon_date.png) no-repeat center;margin-right:5px;margin-top:0;background-size:12px}
#ticketOpen .ticketTit{font-weight:bold;margin-top:10px}


#notice{margin:40px 11px}
#notice h2{font-size:18px;margin-right:5px;display:inline-block;margin-bottom:20px}
#notice .noticeArea{border-bottom:1px solid #e80023;border-top:1px solid #e80023;padding:10px 0}
#notice .noticeMonth{width:77px;font-size:24px;color:#e80023;margin-right:10px;text-align:center}
#notice .noticeInfo{width:249px}
#notice .noticeTit{font-weight:bold;margin-bottom:5px}
#notice .noticeDate{color:#af9ea3}

#footer{background:#efeaec;text-align:center;padding:30px 0;width:100%;position:absolute;bottom:0}