html{overflow-y:scroll}
*{margin:0;padding:0}
body{font-family: 'Nanum Gothic', sans-serif;letter-spacing: -1px}
ul{list-style:none;}
a{text-decoration:none;color:#333333;}
.cf:after{content:"";display:block;clear:both}
.fl{float:left}
#header{border-top:4px solid #f00;position:relative;border:1px solid #ececec;}
#header #headerLogo{position:absolute; bottom:0; left:50%; margin-left:-595px;padding:10px 0px;z-index:999;}
#header ul li{display:block;float:left;}
a{text-decoration:none;}
#headerTop{height:40px;border-bottom:1px solid #ececec;margin:0;}
#topArea{width:1190px;margin:0 auto;}
#headerTopnav1{float:left;border-left:1px solid #ececec}
#headerTopnav1 ul li{border-right:1px solid #ececec}
#headerTopnav1 ul li a{display:block;color:#77787B; font-size:92%;font-weight:bold;padding:11px 30px;}
#headerTopnav1 ul li a:hover{background:#f00;color:#fff}
#headerTopnav2{float:right;}
#navMenu{float:left;background:url('../images/bar_sm.png') right center  no-repeat ;}
#navMenu ul li a{display:block;color:#666; font-size:12px; font-weight:bold;padding:13px 9px;}
#navLogin{float:left;}
#navLogin ul li a{display:block;color:#7C6D42; font-size:12px;padding:12px 6px;}
#navLogin ul li #topLogin{background:url(../images/ico_login.png) no-repeat left center; padding-left:22px;margin-left:7px;}
#navLogin ul li #topRegister{background:url(../images/ico_mym.png) no-repeat left center; padding-left:22px;margin-left:7px;}
#navControl{float:left; padding:8px;}
#navControl img{width:68; height:22px;border:1px solid #dddddd;}
#topArea2{width:1190px;height:42px;margin:0 auto;padding-top:40px;position:relative;z-index:998;}
#mainMenu{position:absolute; bottom:0;right:0;}
#mainMenu ul{float:left;}
#mainMenu ul li a{display:block;color:rgb(51, 51, 51); padding:0 32px 19px 32px;font-size:18px;font-weight:bold;}
#mainMenu ul li{position:relative;}
#mainMenu ul li .subMenu{position:absolute;top:40px;left:0;width:188px;padding:10px 20px;background:#ffffff;border:1px solid #c4c6c6;display:none;}
#mainMenu ul li .subMenu li{float:none;}
#mainMenu ul li .subMenu a{display:block;font-weight:normal;font-size: 13px;color:rgb(51,51,51);margin:0;padding:9px 0 9px 10px;}
#mainMenu ul li .subMenu li:hover a{background:#f00;color:#fff}
#mainMenu ul li:hover .subMenu{display:block;}
#mainMenu li a:hover{color:#f00;}
#mainMenu #wholeMenu{float:right; margin:0;padding:0 10px;}
/* content */
#contentwrap #header_community{width:100%;height:44px;background:url(../images/bd_nav_for.png) #160f2f center no-repeat;}
#contentwrap #header_community #header_area{width:1190px;margin:0 auto;}
#subNav{background:url(../images/bar_gnb.png) no-repeat right center;}
#header_area .community li{background:url(../images/bar_gnb.png) no-repeat left center;}
#header_area .community li a{display:block;color:#ffffff;background:url(../images/ico_arr_down.png) 
right center no-repeat;padding:15px 16px 14px 19px;font-size: 13px;margin-right:20px;}
#header_area .community li.home a{background:none;margin-right:0;}
/* sidemenu */
#content_inbox{width:1190px;background:url(../images/bg_sub_bar.png) repeat-y 250px 172px;height:1200px;margin:0 auto;position:relative;padding-top:30px;}
#aside_bar{padding:0;margin:0;position:absolute;width:220px}
#aside_bar h2{background:#f9514f;color:#ffffff;text-align:center;font-size:18px;padding:25px 0 23px 0;line-height:95%;}
#aside_bar h2 span{color:#f0a4a4;font-size:11px;}
#aside_bar li a{display:block;border-bottom:1px solid rgb(229, 229, 229);color:#0e0f0f;background:url(../images/ico_plus.png) no-repeat right center;font-weight: normal;padding:14px 20px;}
#aside_bar li:hover a{font-weight:bold;border-bottom:1px solid rgb(249, 81, 79);background-image:url(../images/ico_minus.png)}
#aside_bar li:first-child a{font-weight:bold;border-bottom:1px solid rgb(249, 81, 79);background-image:url(../images/ico_minus.png)}
#content{width:890px;position:absolute;left:250px;padding-left:48px;z-index:1}
#area_title h2{ padding:15px 0 32px 0}
#area_title h2>a{color:#333333;font-size:32px;font-weight:bold;}
#area_title>a{float:right;margin-top:18px;border:1px solid #666666;padding:6px 12px 7px 12px;font-size:13px;}
#area_title>a>span{background:url(../images/ico_star_gr.png) no-repeat left center;padding-left: 18px}
#area_title>a:hover{background:#f7f7f6}
#area_paragraph{clear:both;padding-top:10px;}
#area_paragraph p.h4{color:#383736;font-weight:bold;margin-bottom:20px; padding-bottom:10px;background:url(../images/ico_text_under.png) no-repeat 0 bottom;font-size:113%;}
#area_paragraph p.txt{font-size:88%;color:##383736;line-height:145%;letter-spacing:.2px;margin-bottom:5px;}

/* board */
#area_board{padding-top:15px}
#board_top>p{float:left;color:#666666;font-size:13px;font-weight:bold;padding:21px 0 10px 0;}
#board_top>p>span{color:#f56b0e}
#topSearch{text-align:center; float:right;padding-bottom:10px}
#topSearch fieldset{border:0}
#topSearch select{float:left;width:112px;height:36px;margin-right:3px;font-size:14px; color:#383736;border:1px solid #d2d2d2;background:#f7f7f6}
#topSearch input{float:left;width:241px;height:14px; padding:10px;color:#383736;border:1px solid #d2d2d2;background:#f7f7f6}
#topSearch button{float:left;background:#f9514f url(../images/ico_search.png) no-repeat center;width:36px;height:36px;text-indent:-9999px;border:none;cursor:pointer;}
#board_list{clear:both;}
#board_list>div>div{float:left;text-align:center;}
#board_list .list_top{background:#f7f7f6;border-bottom:1px solid #5a5a5a;border-top:1px solid #5a5a5a;font-size:14px; font-weight:bold; color:#383736;}
#board_list .list_top div{padding:12px 0;text-align:center;}
#board_list .board_num{width:60px}
#board_list .board_title{width:470px}
#board_list .board_write{width:130px}
#board_list .board_date{width:140px}
#board_list .board_count{width:90px}
#board_list>div input{display:none;}
#board_list>div.contents>div{padding:12px 0 10px 0;color:#383736;font-size:14px;}
#board_list>div.contents>.board_title{width:445px;padding-left:25px;text-align:left;}
#board_list>div.contents{border-bottom:1px solid #e5e5e5}
#board_list>div.contents label{cursor:pointer;}
#board_list>div.contents:hover>div{font-weight:bold;background:#fcfdf0;}
#board_list>div input:checked~div{font-weight:bold;background:#fcfdf0;}
#board_list>div input:checked~#content_wrap{display:block;}
#content_wrap{display:none;width:890px;}
#content_wrap .subject{font-size:16px;color:#f00;border-bottom:1px solid #f00;width:700px;margin:10px 100px;text-align:left;font-weight:normal;}
#content_wrap .content{font-size:14px;color:#777;width:700px;padding:10px 100px;text-align:left;font-weight:normal;}
/* write button */
#board_wbtn{float:right;margin-top:15px}
#board_wbtn a{padding:9px 11px;background:#f9514f;color:#fff;font-size:14px;font-weight:bold;border:none;cursor:pointer}
#board_wbtn a:hover{background:#cb3634}

/* page */

#board_page{width:890px;padding-top:10px;}
#board_page ul{margin-left:215px;margin-top:40px;}
#board_page li a{display:block;width:30px;height:30px;background:#f7f7f5;border:1px solid #e5e5e5;font-size:13px; font-weight:bold;text-align:center;margin:0;line-height:30px;color:#383736;overflow:hidden;}
#board_page li.page_number a{border-left:none;background:#fff;}
#board_page li.first a{border-left:1px solid #e5e5e5;background:#f9514f;color:#fff;}
#board_page li.page_number a:hover{background:#f9514f;color:#fff;}
#board_page li.prev a{border-left:none;margin-right:10px;}
#board_page li.next a{border-right:none;margin-left:10px;}

/* satisfaction */
#area_satisfaction{height:148px;border:1px solid #e5e5e5;clear:both;margin-top:50px;}
#area_satisfaction #satis_header{background:url(../images/ico_satisfaction.png) no-repeat left center;padding:18px 0px 20px 76px;margin:3px 30px 4px;}
#area_satisfaction #satis_header h3{color:#383736;font-weight:bold;font-size:18px;margin-bottom:12px;}
#area_satisfaction #satis_header p{font-size:14px;color:#383736;}
#area_satisfaction #satis_select{border-top:1px solid #e5e5e5;padding:9px 30px}
#area_satisfaction #satis_select div{float:left;padding-top:6px;}
#area_satisfaction #satis_select input{vertical-align:middle;}
#area_satisfaction #satis_select .satis5{background:url(../images/ico_star5_yl.png) no-repeat 3px 1px; padding:0 26px 0 80px;}
#area_satisfaction #satis_select .satis4{background:url(../images/ico_star4_yl.png) no-repeat 3px 1px; padding:0 26px 0 66px;}
#area_satisfaction #satis_select .satis3{background:url(../images/ico_star3_yl.png) no-repeat 3px 1px; padding:0 26px 0 52px;}
#area_satisfaction #satis_select .satis2{background:url(../images/ico_star2_yl.png) no-repeat 3px 1px; padding:0 26px 0 38px;}
#area_satisfaction #satis_select .satis1{background:url(../images/ico_star_yl.png) no-repeat 3px 1px; padding:0 26px 0 24px;}

#area_satisfaction #satis_select #submit{float:right;padding:8px 11px 9px; font-size:14px; color:#ffffff;background:#f9514f ;border:0;}