@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

*{margin:0;padding:0;border:0}
body{font-family: 'Nanum Gothic', sans-serif;letter-spacing:-1px;overflow:scroll}
img{border:0;vertical-align:top}
ul, li{list-style:none;}
a{text-decoration:none;}
.cf:after{content:"";display:block;clear:both}
.fl{float:left}

#wrap{position:relative}
#top_layout{width:100%;height:123px;border-top:4px solid #f00;position:relative;border-bottom:1px solid #bbb;}
#logo{position:absolute;bottom:0;left:50%;margin-left:-595px;z-index:1;}
#logo h1{padding:5px 0}
/* header */
#top_gnb{height:40px;background:#fff;border-bottom:1px solid #e5e5e5;}
#top_area{width:1190px;margin:0 auto}
#top_family{height:39px;float:left;}
#top_family li{border-right:1px solid #e5e5e5}
#top_family ul{border-left:1px solid #e5e5e5}
#top_family li a{padding:11px 30px;display:block;font-weight:bold;color:#77787B;font-size:92%;}
#top_family li a:hover{background:#f00;color:#fff;}
#top_menugroup{height:39px;float:right;}
#service_menu{background:url(../images/bar_sm.png) right center no-repeat}
#service_menu a{display:block;padding:13px 9px;font-size:12px;color:#666;font-weight:bold;}
#login_menu a{display:block;padding:12px 6px;color:#7c6d42;font-size:12px;}
#login_menu .top_login a{background:url(../images/ico_login.png) left 12px no-repeat;padding-left:22px;margin-left:7px}
#login_menu .top_join a{background:url(../images/ico_mym.png) left 12px no-repeat;padding-left:22px;margin-left:7px}
#control_btn{border:1px solid #d9d9d9;margin:8px 0 8px 8px}
#control_btn a{display:block;background:url(../images/btn_browse_cont.png) no-repeat;width:23px;height:22px;text-indent:-9999px;}
#control_btn .zoomin a{width:22px;background-position:left center;}
#control_btn .zoomout a{background-position:center center;}
#control_btn .zoomdefault a{background-position:right center;}
#nav_group{width:1190px;margin:0 auto;position:relative;}
#nav_group ul{float:right;padding-right:35px;}
#nav_group ul li{position:relative;text-align:center;}
#nav_group>ul>li>a{display:block;height:18px;width:143px;line-height:18px;font-size:18px;font-weight:bold;padding:45px 0 19px 0;color:rgb(51,51,51)}
#nav_group ul li a:hover{color:rgb(255,0,0)}
#nav_group ul li .subMenu{position:absolute;top:82px;left:0;width:200px;padding:10px 20px;background:#ffffff;border:1px solid #c4c6c6;display:none;z-index:998}
#nav_group ul li .last_sub{position:absolute;top:82px;left:-20px;}
#nav_group ul li .subMenu li{float:none;}
#nav_group ul li .subMenu a{display:block;font-weight:normal;font-size: 13px;color:rgb(51,51,51);margin:0;padding:9px 0 9px 10px;text-align:left}
#nav_group ul li .subMenu li:hover a{background:#f00;color:#fff}
#nav_group ul li:hover .subMenu{display:block;}
#nav_group #gnball a{background:url(../images/bd_gnb_all.png) no-repeat center;width:14px;height:11px;position:absolute;bottom:24px;right:0;text-indent:-9999px;}
/* content */
#contents_wrap{width:100%;}
/* header_nav */
#header_nav_abo{width:100%;height:44px;background:url(../images/bd_nav_thr.png) #160f2f center no-repeat;}
#header_area{width:1190px;margin:0 auto;}
#subNav{background:url(../images/bar_gnb.png) no-repeat right center;}
#header_area .abo li{background:url(../images/bar_gnb.png) no-repeat left center;}
#header_area .abo li a{display:block;color:#ffffff;background:url(../images/ico_arr_down.png) 
right center no-repeat;padding:15px 16px 14px 19px;font-size: 13px;margin-right:20px;}
#header_area .abo li.home a{background:none;margin-right:0;}
/* content_box */
#contents_box{width:1190px;background:url(../images/bg_sub_bar.png) repeat-y 250px 172px;min-height:969px;margin:0 auto;position:relative;padding-top:30px;}
/* aside_bar */
#aside_bar{padding:0;margin:0;position:absolute;width:220px}
#aside_bar h2{background:#f9514f;color:#ffffff;text-align:center;font-size:18px;padding:25px 0 23px 0;line-height:95%;}
#aside_bar h2 span{color:#f0a4a4;font-size:11px;}
#aside_bar ul.bar_menu1>li>a{display:block;border-bottom:1px solid rgb(229, 229, 229);color:#0e0f0f;background:url(../images/ico_plus.png) no-repeat right center;font-weight: normal;padding:14px 20px;width:180px;height:19px;}
#aside_bar ul.bar_menu1>li>a.clickEvent{font-weight:bold;border-bottom:1px solid rgb(249, 81, 79);background-image:url(../images/ico_minus.png);}
#aside_bar ul.bar_menu1>li:first-child>a{font-weight:bold;border-bottom:1px solid rgb(249, 81, 79);background-image:url(../images/ico_minus.png)}
#aside_bar ul.bar_menu2{border-bottom:1px solid #e5e5e5;border-top: 1px solid rgb(229, 229, 229);padding:12px 0;background:#f7f7f6;}
#aside_bar ul.bar_menu2 li{background:url(../images/ico_liststyle.png) no-repeat 20px center}
#aside_bar ul.bar_menu2 li a{display:block;font-size:15px;color:#333333;padding:5px 5px 5px 29px}
#aside_bar ul.bar_menu2 li:hover a{font-weight:bold;}
/* contents_area */
#contents_area{float:right}
#inner{padding-left:49px;width:890px;padding-bottom:195px;}
#inner>form ul{margin-bottom:20px}
#inner>form ul li{border:1px solid #c2c2c2;border-left:none;padding:10px 40px; cursor:pointer}
#inner>form ul li.borderfirst{border-left:1px solid #c2c2c2}
#inner>form ul li input{cursor:pointer;height:20px;margin:1px 5px 0 0;float:left}
#inner>form ul li label{float:left;height:20px;font-size:94%;line-height: 145%;cursor:pointer;}
#inner>form ul li label strong{background:#fde5e5;color:#ff0000;}
#area_title h2{padding:15px 0 32px 0}
#area_title h2>a{color:#333333;font-size:32px;font-weight:bold;}
#area_title>a{float:right;margin-top:18px;border:1px solid #666666;padding:6px 12px 7px 12px;font-size:13px;color:#333;}
#area_title>a>span{background:url(../images/ico_star_gr.png) no-repeat left center;padding-left: 18px}
#area_title>a:hover{background:#f7f7f6}
#area_paragraph p{font-size: 88%;color:#383736;line-height:145%;margin-bottom:5px;vertical-align:top;letter-spacing: .2px}
#area_paragraph p.h4{color:#383736;font-weight:bold;margin-bottom:20px; padding-bottom:10px;background:url(../images/ico_text_under.png) no-repeat 0 bottom;font-size:113%;margin-top:30px}
#area_paragraph p:first-child{margin-top:0}
#textarea1{width:100%}
#abo_contents{border:1px solid #e5e5e5;padding:23px 40px 40px 50.5px;margin-top:20px;background:#faf9f8;margin-bottom:10px}
#abo_img{padding-right:50.5px;}
#abo_text{padding-top:17px}
#abo_text p{font-size:88%;line-height:145%}
#abo_text p.abo_tit{color:#ff0000;font-size:28px;line-height:30px;margin-bottom:10px;font-weight:bold}
#abo_text p.abo_subtit{color:#0e0f0f;font-size:20px;margin-bottom:20px;line-height:22px;font-weight:bold}
#abo_download{float:right;}
#abo_download>a{display:inline-block;padding:7px 13px 7px 35px; background:#ffffff url(../images/btnB_icons.png) no-repeat 10px 7px;border:1px solid #f9514f;font-size:14px;margin-left:3px;font-weight:bold;cursor:pointer;color:#383736;}
#abo_download>a:hover{background-color:#fff2f2}
#graph_area{margin-top:30px}
#graph_area img{margin-bottom:10px}
#graph_area p{margin-bottom:5px;font-size:81%;color:#6d6d6d }
#graph_area p.graphnumber{color:#f56b0e;font-size:81%;padding-left:10px;background:url(../images/buA.png) no-repeat 0 8px;}
/* fixed nav */
#fixed_nav{height:552px;width:70px;position:fixed;top:210px;right:0;z-index:999;}
#fixed_menu ul li{text-align:center;font-size:12px;border:1px solid #e5e5e5;border-top:none;background:#ffffff;}
#fixed_menu #fixed_mymenu{width:70px;padding:13px 0;color:#ffffff;background:#f9514f;font-size:12px;text-align:center;}
#fixed_menu ul li a{display:block;color:#555555;font-weight:bold;font-size:12px;padding:15px 0;}
#fixed_sns{margin:40px 0 10px 0;background:#6a6a6a;padding:16px 27px 14px 27px;}
#fixed_sns>div>a{text-indent:-9999px;width:16px; display:block;}
#fixed_fb a{height:19px;background:url(../images/ico_facebook.png) no-repeat top center;padding-bottom:6px}
#fixed_blog a{height:19px;background:url(../images/ico_blog.png) no-repeat top center;padding-bottom:6px}
#fixed_kakao a{height:18px;background:url(../images/ico_kakao.png) no-repeat top center}
#fixed_btn{width:70px;background:#5a5a5a url(../images/bar_quick.png) no-repeat center;}
#fixed_top a{display:block; background:url(../images/ico_qtop.png) no-repeat center; padding:7px 23px 7px 23px;height:20px;text-indent:-9999px;}
#fixed_down a{display:block; background:url(../images/ico_qdown.png) no-repeat center;padding:7px 23px 7px 23px;height:20px;text-indent:-9999px;}
/* satisfaction */
#area_satisfaction{height:148px;border:1px solid #e5e5e5;clear:both;margin-top:50px;font-size:14px}
#area_satisfaction #satis_header{background:url(../images/ico_satisfaction.png) no-repeat left center;padding:18px 0px 20px 76px;margin:3px 30px 4px;}
#area_satisfaction #satis_header h3{color:#383736;font-weight:bold;font-size:18px;margin-bottom:12px;}
#area_satisfaction #satis_header p{font-size:14px;color:#383736;}
#area_satisfaction #satis_select{border-top:1px solid #e5e5e5;padding:9px 30px}
#area_satisfaction #satis_select div{float:left;padding-top:9px;}
#area_satisfaction #satis_select input{vertical-align:middle;}
#area_satisfaction #satis_select .satis5{background:url(../images/ico_star5_yl.png) no-repeat 3px 1px; padding:0 26px 0 80px;}
#area_satisfaction #satis_select .satis4{background:url(../images/ico_star4_yl.png) no-repeat 3px 1px; padding:0 26px 0 66px;}
#area_satisfaction #satis_select .satis3{background:url(../images/ico_star3_yl.png) no-repeat 3px 1px; padding:0 26px 0 52px;}
#area_satisfaction #satis_select .satis2{background:url(../images/ico_star2_yl.png) no-repeat 3px 1px; padding:0 26px 0 38px;}
#area_satisfaction #satis_select .satis1{background:url(../images/ico_star_yl.png) no-repeat 3px 1px; padding:0 26px 0 24px;}
#area_satisfaction #satis_select #submit{float:right;padding:8px 11px 9px; font-size:14px; color:#ffffff;background:#f9514f ;border:0;}
#area_satisfaction #satis_select #submit:hover{background:#cb3634}
/* footer */
#footer{width:100%;height:139px;background:#5a5a5a;}
#footer #footer_contents{position:relative;width:1190px;margin:0 auto;font-size:12px;color:#d7d7d7}
#footer_contents ul{position:absolute;top:0;left:0}
#footer_contents ul li {padding:20px 0;margin-right:20px}
#footer_contents ul li a{display:block;font-size:12px;color:#d7d7d7}
#footer_contents ul li.personal_info a{color:#fff200;font-weight:bold}
#footer_contents ul li strong{color:#ffffff;margin-right:2px;}
#footer_contents #copyright{position:absolute;top:59px;left:0}
#copyright p:first-child{margin-bottom:10px}
#footer_contents #relative{position:absolute;top:0;right:0}
#relative{padding-top:10px}
#relative form select{width:170px;height:35px;padding-left:10px;font-size:12px;color:#5a5a5a;border:1px solid #929292;border-radius:3px;}
#relative form input{width:55px;font-size:14px;padding:7px 12px 8.5px 10px; color:#ffffff;background:#f9514f;margin-left:3px;font-weight:bold;border:0}
#relative form input:hover{background:#cb3634}
#footer_contents #mark{position:absolute;top:62px;right:0}
